@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #a17373;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.car {
  height: 200px;
  position: absolute;
  left: 0;
  z-index: 10;
}

.trail {
  height: 200px;
  background: linear-gradient(90deg, #22c55e, #4ade80, #16a34a);
  position: absolute;
  width: 0;
}

.value-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: #0b0b0b;
  font-weight: 700;
  letter-spacing: 10px;
  display: flex;
}

.word {
  margin: 0 40px;
  display: flex;
}

.value-letter {
  color: #000000; 
  transition: color 0.3s ease;
}

.text-box {
  opacity: 0;
  transform: translateY(50px);
  position: absolute;
  padding: 25px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.1);
}

#box1 { top: 8%; right: 30%; }
#box2 { bottom: 15%; right: 30%; }
#box3 { top: 8%; right: 5%; }
#box4 { bottom: 15%; right: 5%; }

.num-box {
  font-size: 42px;
  font-weight: bold;
}